In [2]:
import pandas as pd

In [9]:
df= pd.read_csv("C:/Users/Mr.R/Downloads/archivos_base_python_data_science_big_data_esencial/base_datos_2008.csv",nrows=1e6)

In [12]:
df.head(100)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2008,1,3,4,1506.0,1440,2030.0,2010,WN,2032,...,6.0,15.0,0,NaN,0,18.0,0.0,0.0,0.0,2.0
96,2008,1,3,4,2039.0,1930,155.0,55,WN,3940,...,5.0,14.0,0,NaN,0,0.0,0.0,22.0,0.0,38.0
97,2008,1,3,4,924.0,920,1209.0,1210,WN,71,...,3.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
98,2008,1,3,4,1611.0,1535,1849.0,1825,WN,538,...,3.0,22.0,0,NaN,0,9.0,0.0,0.0,0.0,15.0
99,2008,1,3,4,1824.0,1715,117.0,25,WN,2383,...,2.0,10.0,0,NaN,0,48.0,0.0,0.0,0.0,4.0

In [13]:
dfduplicate=df.append(df)

In [14]:
dfdfduplicate=dfduplicate.sample(frac=1)

In [20]:
dfclean=dfdfduplicate.drop_duplicates()

In [21]:
len(dfclean)

999996

In [22]:
len(dfdfduplicate)

2000000

In [23]:
len(df)

1000000

In [34]:
df31dias=dfclean.drop_duplicates(subset="DayofMonth")

In [35]:
len(df31dias)

31

In [36]:
df31dias.head(100)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
978292,2008,2,5,2,810.0,815,1059.0,1115,MQ,3719,...,3.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
431530,2008,1,29,2,1611.0,1619,1823.0,1827,NW,470,...,11.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
973004,2008,2,11,1,1127.0,1125,1344.0,1330,MQ,3474,...,18.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
388141,2008,1,21,1,1111.0,1115,1155.0,1210,MQ,3421,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
439676,2008,1,6,7,1529.0,1531,1742.0,1737,NW,894,...,14.0,27.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
143272,2008,1,20,7,1357.0,1409,1652.0,1711,YV,7358,...,3.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
406730,2008,1,4,5,2001.0,2005,2252.0,2300,MQ,4169,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
336582,2008,1,31,4,1158.0,1155,1348.0,1355,EV,4592,...,10.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
468564,2008,1,9,3,927.0,930,1054.0,1057,9E,5725,...,2.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
877251,2008,2,24,7,653.0,645,856.0,843,US,1434,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
519659,2008,1,12,6,1335.0,1335,1640.0,1650,AA,1894,...,9.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
539425,2008,1,15,2,NaN,945,NaN,1153,AS,394,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
923888,2008,2,23,6,657.0,700,803.0,820,EV,4642,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
138641,2008,1,14,1,1650.0,1655,1813.0,1823,YV,7131,...,3.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
722609,2008,2,7,4,NaN,535,NaN,830,XE,2862,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
653533,2008,2,17,7,1613.0,1615,1829.0,1905,WN,1928,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
342206,2008,1,3,4,1029.0,748,1248.0,1015,EV,4789,...,6.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,153.0
826420,2008,2,16,6,1102.0,1102,1229.0,1230,UA,534,...,2.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
326586,2008,1,13,7,2142.0,2142,2230.0,2220,EV,4277,...,3.0,28.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
366514,2008,1,19,6,806.0,820,1128.0,1056,FL,670,...,11.0,24.0,0,NaN,0,0.0,0.0,32.0,0.0,0.0
115799,2008,1,27,7,1704.0,1710,1926.0,1944,XE,2901,...,9.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
885867,2008,2,1,5,1651.0,1640,36.0,25,WN,1058,...,4.0,31.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
670565,2008,2,22,5,808.0,700,1126.0,1005,WN,1849,...,23.0,18.0,0,NaN,0,0.0,68.0,13.0,0.0,0.0
950792,2008,2,18,1,1752.0,1722,2018.0,1952,FL,804,...,6.0,15.0,0,NaN,0,0.0,0.0,0.0,0.0,26.0
466299,2008,1,10,4,1414.0,1415,1551.0,1605,9E,5654,...,3.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
605853,2008,2,2,6,1003.0,955,1133.0,1120,WN,1668,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
394200,2008,1,30,3,1042.0,1015,1237.0,1225,MQ,3675,...,2.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
74123,2008,1,25,5,1006.0,1005,1214.0,1215,WN,3595,...,8.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
963580,2008,2,26,2,1240.0,1245,1327.0,1351,MQ,3005,...,1.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
560949,2008,1,28,1,1354.0,1400,1615.0,1655,B6,139,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
509975,2008,1,8,2,2131.0,2020,2255.0,2155,AA,1497,...,8.0,16.0,0,NaN,0,0.0,0.0,15.0,0.0,45.0

In [39]:
df.dropna(thresh=len(df.columns)-2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0