In [2]:
import pandas as pd
data=[(1,"pedr","maequz",3123,"libreta","13-02-2018"),
     (2,"luis","perez",3123,"libreta","03-02-20"),
     (3,"paco","ochoa",123,"lapiz","18-09-2020"),
     (4,"juan","velasquez",1234,"papel","24-11-2019"),
     (5,"jose","esquivel",321,"gorra","08-02-2022"),
     (6,"pepe","ortega",1234,"papel","24-12-2018")]
labels=["id","nombre","apellido","producto_id","nombre_producto","fecha"]

In [5]:
df=pd.DataFrame.from_records(data, columns=labels)

In [6]:
df.head()

   id nombre   apellido  producto_id nombre_producto       fecha
0   1   pedr     maequz         3123         libreta  13-02-2018
1   2   luis      perez         3123         libreta    03-02-20
2   3   paco      ochoa          123           lapiz  18-09-2020
3   4   juan  velasquez         1234           papel  24-11-2019
4   5   jose   esquivel          321           gorra  08-02-2022

In [11]:
compradores= df[["id","nombre","apellido","fecha"]]

In [12]:
productos=df[["producto_id","nombre_producto"]]

In [16]:
productosclean=

   producto_id nombre_producto
0         3123         libreta
1         3123         libreta
2          123           lapiz
3         1234           papel
4          321           gorra

In [18]:
compradores

   id nombre   apellido       fecha
0   1   pedr     maequz  13-02-2018
1   2   luis      perez    03-02-20
2   3   paco      ochoa  18-09-2020
3   4   juan  velasquez  24-11-2019
4   5   jose   esquivel  08-02-2022
5   6   pepe     ortega  24-12-2018

In [22]:
pd.merge(compradores,productos,on="producto_id",how="outer")

KeyError: 'producto_id'